
@media screen and (max-width: 600px) {
    /*nav bar*/
    .navbar .navbar_right li:nth-child(1){
        display: none;
    }

    .navbar .navbar_right li:nth-child(2){
        display: none;
    }

    .navbar .navbar_right li:nth-child(3){
        display: none;
    }

    .navbar .navbar_right li:nth-child(4){
        display: none;
    }
    .navbar .navbar_right .icon_bar{
        display: block;
        height: 24px;
        left: 94.39%;
        right: 0%;
        bottom: 5467px;

    }
    .navbar .navbar_left .navbar_logo{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }
    /*hero section*/
    .h_section{
        flex-direction: column;
    }
    .h_section .h_left h1{
        font-size: 40px;
        font-weight: 600;   
        text-align:center;
    }
    .h_section .h_left p{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
    }
   .h_section .h_left button{
        display: block;
        width: 100%;
        margin: 20px auto;
   }
   /**companies section*/
   .c-section{
    margin-top: 120px;
   }
   .c-section .c-section_anh{
       width: 100%;
       height: 25px;
   }
   .c-section .c-section_text{
    font-size: 12px;
   }

   /**branding section*/
   .br{
    margin-top: 88px;
    flex-direction: column-reverse;
    margin-bottom: 24px;
   }

   .br .br-right h1{
    text-align: center;
    font-size: 32px;
   }
   .br .br-right p{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
   }
   
   .br .br-right i.mobile{
    display: block;
   text-align: center;
}

   .br .br-right i.desktop{
    display: none;
}

   /*custome section*/
   
   .cus-sec{
    flex-direction: column;
    margin-top: 120px;
   }

   .cus-sec .sec-left h1{
    text-align: center;
    font-size: 32px;
   }

   .cus-sec .sec-left p{
        text-align: center;
        font-size: 14px;
   }

   .cus-sec .sec-left i.desktop{
    display: none;
}

   .cus-sec .sec-left i.mobile{
    display: block;
    text-align: center;
}

/*testimonial section*/

.test-sec{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.test-sec .test__head p{
    font-size: 12px;
    margin-bottom: 16px;
}

.test-sec .test__head h1{
    font-size: 32px;
}

.test-sec .test__body {
    flex-direction: column;
    
}
.test-sec .test__body img{
    width: 100%;
    margin-bottom: 40px;
}

/*Contact section*/

.con-sec{
    flex-direction: column-reverse;
    margin-top: 120px;
}

.con-sec .con_left img{
    display: none;
}

.con-sec .con_right {
    align-items: center;
}

.con-sec .con_right h1{
    text-align: center;
    font-size: 32px;
   font-weight: 800;
}

.con-sec .con_right p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
}
.con-sec .con_right button{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

/*footer*/
.footer {
    flex-direction: column;
}

.footer .foot_head{
    flex-direction: column;
    text-align: center;
}
.footer .foot_head {
    text-align: center;
}


.footer .foot_head .foot_logo{
    margin: auto;
}
.footer .foot_head h3{
    margin: 34px auto;
    font-size: 18px;
}
.footer .footer_head p{
    margin: 34px auto;
    font-size: 16px;
}


.footer ,.foot_head .foot_resources{
    margin: auto;
}
.footer .foot_head h3{
    margin: 34px auto;
    font-size: 18px;
}
.footer .footer_head p{
    margin: 34px auto;
    font-size: 16px;
}


.footer ,.foot_head .foot_company{
    margin: auto;
}
.footer .foot_head h3{
    margin: 34px auto;
    font-size: 18px;
}
.footer .footer_head p{
    margin: 34px auto;
    font-size: 16px;
}


.footer ,.foot_head .foot_media{
    margin: auto;
}
.footer .foot_head h3{
    margin: 34px auto;
    font-size: 18px;
}
.footer .footer_head p{
    margin: 34px auto;
    font-size: 16px;
}


.footer .foot_end p{
    font-size: 12px;
    margin-bottom: 24px;
}







}
   
   

   
   
